.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f1;
    margin: 0;
    padding: 0;
}

.recipe-container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-section {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.image-section img {
    width: 100%;
    display: block;
}

.content-section {
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.6;
}

h2 {
    color: #444;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul, ol {
    color: #555;
    margin: 10px 0;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

.prep-time, .ingredients, .instructions, .nutrition {
    margin-bottom: 20px;
}

.prep-time ul, .ingredients ul, .nutrition ul {
    list-style-type: none;
    padding: 0;
}

.prep-time li, .ingredients li, .nutrition li {
    background: #f0e5de;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.instructions ol li {
    background: #f0e5de;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
